*:focus {
  outline: none;
}

input:not([type="submit"]):not([type="radio"]),
textarea {
	outline: none;
	background: $gray-lightest;
	border: 1px solid $gray-light;
	border-radius: $border-radius;
	color: $gray-darker;
	font-size: .9em;
	padding: .8em;
	line-height: 1.6em;
	font-family: $sans-font;

	@include placeholder {
		color: $gray;
	}

	&:focus {
		border-color: $red;
	}
}

input:not([type="submit"]):not([type="radio"]) {
	width: 240px;
	@include mq-sp {
		width: 100%;
	}
}
textarea {
	width: 500px;
	@include mq-sp {
		width: 100%;
	}
}

.inputs {
	display: inline-block;
	width: 500px;
}


::-webkit-input-placeholder {
	color: #BABABA;
	font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #BABABA;
	font-style: italic;
}

input[type=radio] {
	width: 16px;
	height: 16px;
	display: inline-block;
}

input[type=submit], input[type=button] {
	margin: 20px auto;
	padding: 0;
	display: table;
	text-decoration: none;
	text-align: center;
	font-family: $sans-font;
	font-size: 16px;
	border-radius: $border-radius;
	border: 1px solid $gray-light;
	background-color: rgba(#fff, .5);
	width: 200px;
	height: 56px;
	line-height: 56px;
	transition: .3s all;
	text-shadow: 1px 1px 1px #fff;
	box-sizing: border-box;
	&:visited {
		color: inherit;
	}
	&:hover, &:active, &:focus {
		cursor: pointer;
		color: #fff;
		border: 1px solid $red;
		background: $red;
		text-shadow: none;
	}

	@include mq-sp {
		width: 100%;
		border: 1px solid $red;
		color: $red;
	}
}

.alert {
	display: table;
	margin: 0 auto 20px;
	padding: 0 12px;
}

.alert--loading {
	background: linear-gradient(transparent 60%, #CCC 60%);
}
.alert--success {
	background: linear-gradient(transparent 60%, $cyan 60%);
}
.alert--error {
	background: linear-gradient(transparent 60%, #DD0000 60%);
}
