{{!< default}}
<ol id="posts-list" class="top-posts">
	{{#foreach posts}}
		{{#if featured}}
			<li style="background: #000 url({{image}}) center/cover no-repeat;"><a href="{{url}}" title="Read more about '{{title}}'" class="listlink">
				{{title}}
			</a></li>
		{{/if}}
	{{/foreach}}
	<li style="background: #000 url(/assets/img/contact.jpg) center/cover no-repeat;"><a href="./contact/" title="Contact" class="listlink">
		Contact
	</a></li>
</ol>
