{{!< default}}
<ol id="posts-list" class="top-posts">
	{{#foreach posts}}
		{{#if featured}}
			<li style="background: #000 url({{image}}) center/cover no-repeat;"><a href="{{url}}" title="Read more about '{{title}}'" class="listlink">
				{{title}}
			</a></li>
		{{/if}}
	{{/foreach}}
</ol>
