// ------------------------------
// MEDIA QUERIES
// ------------------------------

@media only screen and (min-width:1824px) {
	main {
		padding: 2.5rem 11rem;
	}

	.content {
		margin: 0 7rem;
	}
}

// ------------------------------
// > 1024px (PC)
// ------------------------------


@media screen and (min-width: $widthSp) {
	header#fixed-header {
		display: none;
	}
}




// ------------------------------
// < 1024px (Tablet)
// ------------------------------

@media all and (max-width: $widthTab) {
	/* disabling element, too much information*/
	header#fixed-header {
		height: 56px;
		width: 100%;
		position: fixed;
		background: #fff;
		z-index: 1800;
		.logo {
			display: table;
			margin: 8px auto;
			width: 40px;
		    height: 40px;
		}
	}

	#menu-button {
		position: fixed;
		top: 0;
		left: 12.85rem;
		z-index: 2000;
		display: block;
		background: #000;
		padding: 8px;
		cursor: pointer;
		transition: left $aside-animation-time $aside-animation;
		&.expanded {
			background: #fff;
			left: 0;
			height: 56px;
		}
		> a {
			display: block;
			> i {
				color: $red;
				padding: 0 8px;
			}
		}
	}
	aside {
		min-height: 100%;
		height: 100%;
	}
	.pace,
	span.post.tags,
	.post.reading-time,
	.post.related {
		display: none;
	}

	#search-container {
		display: none !important;
	}/* Enable element special for little devices */
	#avatar-link {
		display: block;
	}
	#profile-resume {
		display: inherit;
	}/* off canvas */


	.cover {
		width: 16rem;
		transform: translate3d(-16rem, 0, 0);
		transition: width $aside-animation-time $aside-animation,
		transform $aside-animation-time $aside-animation,
		box-shadow $aside-animation-time * 1.8 $aside-animation;
		border-right: 0;
		box-shadow: none;
		z-index: 1900;
		&.expanded {
			width: 16rem;
			transform: translate3d(0, 0, 0);
			box-shadow: 11px -10px 1px -9px $gray-light;
			max-height: 100vh;
		}

		&.animated {
			transition: all $aside-animation-time;
		}
	}

	.profile {
		width: 100%;
		max-width: 100%;

		&.contact {
			> nav {
				padding: 0;
			}
		}

		> a {
			> img {
				width: 6rem;
				margin-bottom: 1rem;
			}
			> h1 {
				margin: 0
			}
			#profile-title {
				font-size: 1.1em;
				line-height: 32px;
			}
		}

		> p {
			display: none;
		}
		.divider {
			display: none;
		}
	}

	.navigation {
		&.left {
			margin-top: 1.2rem;
			margin-bottom: 1rem;
			.links {
				> li {
					margin: 0;
					width: 100% !important;
					text-align: right !important;
					border-top: .5px solid #333;
					&:last-child {
						border-bottom: .5px solid #333;
					}

					> a {
						padding: .85rem 1.25rem;
						font-size: 1rem;
					}
				}
			}
		}
	}

	.navigation {
		width: 100%;

		&.right {
			margin: 0;
		}
		&.left {
			.links.item {
				width: 100%;
			}
		}
	}
	footer {
		position: relative;
	}

	main {
		width: 100vw;
		height: 100vh;
		padding-top: 56px;
		left: 0;
		transition: all $aside-animation-time;
		transform: translate3d(0, 0, 0);
		overflow-y: scroll;

		&.expanded {
			transform: translate3d(14rem, 0, 0);
		}
	}

	article.post {
		padding: 0 5%;
		header {
			margin-top: 1.5rem;
			.meta {
				font-size: .7rem;
			    margin: 0;
			}
		}
		#post-title {
			margin: .5rem 0 1.5rem;
			font-size: 1.8rem;
			line-height: 2.4rem;
		}
	}

}

// ------------------------------
// < 480px (Mobile)
// ------------------------------

@media all and (max-width: $widthSp) {
	.pagination > span {
		display: none;
	}

	main {
	}

	.btn {
		display: block;
		margin-bottom: .4em;
	}

	.mayday {
		width: auto;

		> h2 {
			font-size: 20px;
			line-height: 25px;
		}
	}

	.astronaut {
		background-size: 55%;
	}

	.astro-wrap {
		margin: -5% auto;
	}

	.astro-wrap,
	.astronaut {
		height: 10rem;
	}

	#panic-button {
		margin-bottom: 1rem;
	}

	.posts.newer,
	.posts.older {
		margin: 1rem 0;
	}

	#posts-list {
		text-align: center;
		> li {
			a.listlink {
				font-size: 28px !important;
				line-height: 40px;
				text-align: left;
			}
			> time {
				display: block;
				letter-spacing: 1px;
				padding: 0;
				left: 5%;
				bottom: 5%;
			}
			p.tags {
				left: 5%;
				bottom: 15%;
			}
		}
	}

	#post-title {
		margin: 2.5rem 0;
	}

	#nameOrigin {
		display: table !important;
		text-align: center;
		img {
			width: 150px;
			height: 150px;
		}
		p {
			margin: 0 !important;
			font-size: 1.4em !important;
		}
	}
}
